@page "/gallery/{showDeleted:bool?}"
@rendermode InteractiveServer
@inject IHttpClientFactory clientFactory;
@inject IConfiguration configuration;
@inject ISessionStorageService sessionStorage;
@inject NavigationManager navManager;

<h3>Gallery</h3>

<MudContainer>
    <MudGrid Justify="Justify.FlexStart">
        @if (loadingBlobDetails)
        {
            <MudItem>
                <MudProgressCircular Indeterminate="true" />
            </MudItem>
        }
        else if (blobDetails?.Count > 0)
        {
            @foreach (BlobDetail blobDetail in blobDetails)
            {
                <MudItem>
                    <CloudStorage.SPA.Components.Views.BlobDetailView BlobDetail="blobDetail"/>
                </MudItem>
            }
        }
    </MudGrid>
</MudContainer>

@code {
    User? user { get; set; } = null;
    IList<BlobDetail>? blobDetails { get; set; } = null;

    [Parameter]
    public bool? showDeleted { get; set; } = false;
    bool loadingBlobDetails { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender || user == null)
        {
            user = await sessionStorage.GetItemAsync<User>("user");

            if (user == null)
            {
                navManager.NavigateTo("/");
            }
            await GetBlobDetails();
            StateHasChanged();
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    protected async Task GetBlobDetails()
    {
        loadingBlobDetails = true;
        try
        {
            HttpClient client = clientFactory.CreateClient("api");

            HttpRequestMessage requestMessage = new HttpRequestMessage(HttpMethod.Get, "/Blob");
            if (showDeleted == true)
            {
                requestMessage.Headers.Add("deleted", "true");
            }

            HttpResponseMessage responseMessage = await client.SendAsync(requestMessage);

            if (responseMessage.IsSuccessStatusCode)
            {
                string content = await responseMessage.Content.ReadAsStringAsync();
                blobDetails = JsonConvert.DeserializeObject<List<BlobDetail>>(content);
                
            }
        }
        catch (Exception ex)
        {
            
        }

        loadingBlobDetails = false;
    }

    private string CreateBase64Image(string thumnbnailB64)
    {
        return $"data:image/jpeg;base64, {thumnbnailB64}";
    }
}
