@page
@model CloudStorage.WebApp.Pages.GalleryModel
@{
    ViewData["Title"] = "Gallery";
}

<div class="container">
    <div class="row">

    </div>

    <div class="row">
        @if (@Model.BlobDetails == null)
        {
            <div class="spinner-border text-primary"></div>
        }
        else
        {
            
        }
    </div>
</div>
